CSS
@font-face {
  font-family: 'Grava';
  src: url('https://cdn.jsdelivr.net/gh/vivianispn/minhas-fontes@main/Grava%20Normal.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Grava';
  src: url('https://cdn.jsdelivr.net/gh/vivianispn/minhas-fontes@main/Grava%20Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Grava';
  src: url('https://cdn.jsdelivr.net/gh/vivianispn/minhas-fontes@main/Grava%20Oblique.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
}

* {
  font-variant-ligatures: none !important;
  -webkit-font-feature-settings: "liga" 0, "clig" 0 !important;
  font-feature-settings: "liga" 0, "clig" 0 !important;
}
